:host
  display flex
  width 100%
  flex-direction column
  .title
    display flex
  .actions
    display flex
    width auto
  .top-control,.bottom-control
    display flex
    flex-direction column
  .simple-edit-buttons-wrapper
    display flex
    flex 1 1 auto
    &.icon
      button
        font-size 0px
        height auto
        align-self center
        padding 9px
        i
          font-size .95vw
    button
      margin-right 8px
      &:last-child
        margin-right 0px
  form
    margin 8px
    display flex
    width 100%
    border 1.5px solid gray
    padding 10px
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    z-index 2
  .table
    display flex
    flex-flow column nowrap
    font-size .8rem
    margin 1rem
    line-height 1.5
    border-bottom 1px solid #d0d0d0
    flex 1 1 auto
  .th
    display flex
    & > .td
      white-space normal
      justify-content flex-end
      font-size .75rem
      color rgba(black, 0.8)
      padding  .7rem .5rem .7rem .5rem
      &:first-child
        justify-content flex-start
  .tr
    width 100%
    display flex
    flex-flow row nowrap
    box-shadow 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0)
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    border 1px solid rgba(black, 0)
    z-index 1
    &:nth-of-type(even)
      background-color #f2f2f2
    &:nth-of-type(odd)
      background-color #e7e7e7
    &.focus
      background-color rgba(197,219,255,1 , 0.8)
      box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
      z-index 2
      margin 3px 0 10px 0
      border 1px solid rgba(black, 0.1)
    &.selected
      background-color rgba(98,196,135,1)
      border none
    &.th
      background-color #f2f2f2
  .td
    display flex
    flex-flow row nowrap
    flex-grow 1
    flex-basis 0
    padding 0.5em
    word-break break-word
    overflow hidden
    text-overflow ellipsis
    min-width 0px
    white-space nowrap
    border-bottom 1px solid #d0d0d0
    justify-content flex-end
    input.checkbox
      width auto
    .simple-edit-buttons-wrapper
      display flex
      flex 1 1 auto
      justify-content flex-end
      &.icon
      &.td
        padding 0px
        button
          font-size 0px
          height auto
          align-self center
          padding 2px
          i
            font-size .95vw
    &:first-child
      justify-content flex-start
      padding-left .7rem
    &:last-child
      padding-left .6rem
