:host
  width 100%
  form
    display flex
    width 100%
    .inputs-wrapper
      display flex
      flex 1 1 auto
      justify-content flex-start
      flex-flow column
      label
        font-size 0.65vw
        margin 0px 0px 1px 3px
      input
        font-size 0.90vw
        width 75%
        height 80%
        padding 4px
        border-radius 3px
        border 1px solid lightgrey
        color darkslategrey
        &.checkbox
          justify-self center
      &:first-child
        justify-content flex-start
